/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  /* margin: 0;
  padding: 0; */
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

/* Main styling */
body {
  font-family: Helvetica Neue, Sans-Serif;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
}

footer nav {
  display: flex;
  width: 100%;
  background-color: #fbd490;
}

footer nav a {
  flex-grow: 1;
  padding: 10px;
}

footer nav a.active {
  background-color: #e0b877;
}

footer nav a:first-of-type {
  border-right: 1px solid black;
}

footer nav img {
  max-height: 20px;
  max-width: 20px;
}

/* Functional styles */

/* Font style */
.normal {
  font-weight: normal;
}

.b {
  font-weight: bold;
}

/* Shadow */
.shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/* backgrounds */
.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #dae7ef;
}

.bg-green {
  background-color: #436b1c;
}

/* Color */
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.gray {
  color: #767676;
}

/* Font scale */
.f1 {
  font-size: 1.5rem;
} /* 24 px */
.f2 {
  font-size: 1.125rem;
} /* 18px */
.f3 {
  font-size: 1rem;
} /* 16px */
.f4 {
  font-size: 0.875rem;
} /* 14px */
.f5 {
  font-size: 0.75rem;
} /* 12px */

/* Padding */
.pa0 {
  padding: 0;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pa1 {
  padding: 12px;
}

.ph1 {
  padding-left: 12px;
  padding-right: 12px;
}

.pv1 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pl1 {
  padding-left: 12px;
}

.pr1 {
  padding-right: 12px;
}

.pt1 {
  padding-top: 12px;
}

.pb1 {
  padding-bottom: 12px;
}

.pa2 {
  padding: 16px;
}

.ph2 {
  padding-left: 16px;
  padding-right: 16px;
}

.pv2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pl2 {
  padding-left: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

/* Form Styling */
.form-button input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
/* placeholder css to test button style */
.form-button label {
  display: inline-block;
  background-color: #ddd;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.form-button label:hover {
  background-color: #878787;
}
